<p id="notice"><%= notice %></p>

<h1>Searches</h1>

<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th>Query params</th>
      <th>Score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @searches.each do |search| %>
      <tr>
        <td><%= render_query_params search.params %></td>
        <td><%= number_with_precision(search.score, precision: 1) %></td>
        <td><%= link_to 'Show', search %></td>
        <td><%= link_to 'Edit', edit_search_path(search) %></td>
        <td><%= link_to 'Destroy', search, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @searches, theme: 'twitter-bootstrap-4' %>

<br>

<%= link_to 'New Search', new_search_path %>
