<p id="notice"><%= notice %></p>
<% report = DifferenceReporter.new(@search.search_results).report %>
<p>
  <strong>Change score: <%= number_with_precision(@search.score, precision: 1) %></strong>
</p>
<p>
  <strong>Count: <%= @count %></strong>
</p>
<p>
  <strong>Query params:</strong>
  <%= render_query_params @search.params %>

  <table class="table table-striped">
    <thead class="thead-light">
      <tr>
        <th>
        </th>
        <% @search.search_results.each do |res| %>
          <th>
            <%= content_tag :span, res.endpoint.url, data: { toggle: 'popover', trigger: 'hover', content: ' ' + res.data['responseHeader']['params'].to_json } %>
          </th>
        <% end %>
      </tr>
        <tr>
          <th>
          </th>
          <% @search.search_results.each do |res| %>
            <th>
              Docs numFound: <%= res.num_found %> /
              maxScore: <%= res.max_score %> <br />
              <%= link_to 'Explain', res.explain_url, class: 'btn btn-info' %>

              <div class="input-group mb-3 explain-other">
                <input type="text" class="form-control" placeholder="document id">
                <div class="input-group-append">
                  <%= content_tag :a, 'Explain', class: 'btn btn-outline-secondary', tabindex: 0, data: { toggle: 'popover', trigger: 'click', placement: 'bottom', html: true, ajax_content: search_explain_path(@search, res, '__PLACEHOLDER__') } %>
                </div>
              </div>
            </th>
          <% end %>
        </tr>
    </thead>
    <% report.each do |row| %>
      <tr>
        <td>
          <%= position_change_style row[:positionChange] %>
        </td>
        <% row[:docs].each do |doc| %>
          <td>
            <% if doc['id'] %>
              <%= link_to doc['id'], "https://searchworks.stanford.edu/view/#{doc['id']}" %>: <%= "#{doc['title_245a_display']}" %>
              <%= content_tag :a, '[explain]', tabindex: 0, data: { toggle: 'popover', placement: 'bottom', trigger: 'click', html: true, title: doc['score'], ajax_content: search_explain_path(@search, doc['search_result'], doc['id']) } %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</p>
<%= link_to 'Refresh', refresh_search_path(@search) %> |
<%= link_to 'Edit', edit_search_path(@search) %> |
<%= link_to 'Back', searches_path %>
