<p id="notice"><%= notice %></p>
<% report = DifferenceReporter.new(@search.search_results).report %>
<p>
  <strong>Change score: <%= number_with_precision(@search.score, precision: 1) %></strong>
</p>
<p>
  <strong>Query params:</strong>
  <%= render_query_params @search.params %>

  <table class="table table-striped">
    <thead class="thead-light">
      <tr>
        <th>
        </th>
        <% @search.search_results.each do |res| %>
          <th>
            <%= content_tag :span, res.endpoint.url, data: { toggle: 'popover', trigger: 'hover', content: ' ' + res.data['responseHeader']['params'].to_json } %>
          </th>
        <% end %>
      </tr>
        <tr>
          <th>
          </th>
          <% @search.search_results.each do |res| %>
            <th>
              Docs numFound: <%= res.num_found %> /
              maxScore: <%= res.max_score %> <br />
              <%= link_to 'Explain', res.request_url, class: 'btn btn-info' %>
            </th>
          <% end %>
        </tr>
    </thead>
    <% report.each do |row| %>
      <tr>
        <td>
          <%= position_change_style row[:positionChange] %>
        </td>
        <% row[:docs].each do |doc| %>
          <td>
            <%= content_tag :span, "#{doc['id']}: #{doc['title_245a_display']}", data: { toggle: 'popover', trigger: 'click', html: true, title: doc['score'], content: content_tag(:pre, doc['explain'], class: 'explain') } %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</p>

<%= link_to 'Edit', edit_search_path(@search) %> |
<%= link_to 'Back', searches_path %>
