<p id="notice"><%= notice %></p>
<% report, score = DifferenceReporter.new(@search.search_results).report %>
<p>
  <strong>Change score: <%= @search.score.round(1) %></strong>
</p>
<p>
  <strong>Query params:</strong>
  <%= @search.query_params %>

  <table>
    <tr>
      <th>
      </th>
      <% @search.search_results.each do |res| %>
        <th>
          <%= res.endpoint.url %> | <%= link_to 'Explain', res.explain_url %>
          <p>
            <%= res.data['responseHeader']['params'] %>
          </p>
          <p>
            Docs numFound: <%= res.num_found %>
          </p>
          <p>
            maxScore: <%= res.max_score %>
          </p>
        </th>
      <% end %>
    </tr>
    <% report.each do |row| %>
      <tr>
        <td>
          <%= position_change_style row[:positionChange] %>
        </td>
        <% row[:docs].each do |col| %>
          <td>
            <%= col %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</p>

<%= link_to 'Edit', edit_search_path(@search) %> |
<%= link_to 'Back', searches_path %>
